# =========================
# Secrets
# =========================
*.pem
*.key
.env
.env.*
!.env.example
!**/.env.example

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# =========================
# Node
# =========================
node_modules/
dist/
build/

# =========================
# Mac
# =========================
.DS_Store

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log
